.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr)!important; /*to avoid lateral scrolling*/
}

.error-message {
    color : red;
}

.success-message {
    color : green;
}

tr.hide-table-padding td {
  padding: 0 !important;
}

.expand-button {
  position: relative !important;
}

.accordion-toggle .expand-button:after
{
  position: absolute !important;
  left:.75rem !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  content: '-' !important;
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+' !important;
}