* {
  font-family: Arial, Helvetica, sans-serif;  
}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr)!important; /*to avoid lateral scrolling*/
}

.error-message {
    color : red;
}

.success-message {
    color : green;
}

tr.hide-table-padding td {
  padding: 0 !important;
}

.expand-button {
  position: relative !important;
}

.accordion-toggle .expand-button:after
{
  position: absolute !important;
  left:.75rem !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  content: '-' !important;
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+' !important;
}

/* td:nth-of-type(3n) {    
    border-right: 3px solid gray;
} */

thead > tr {    
    border-bottom: 2px solid gray;
}

.cstmTable tr:nth-of-type(3n) td {    
    border-bottom: 2px solid gray;
}

.cstmTableLite tr:nth-of-type(even) td {    
    border-bottom: 2px solid gray;
}

/* table {
    border: 3px solid red;
} */

/* display employee */
div:last-of-type ~ hr {
    display: none;
}